a.button.margin-bottom.indented(href='/users' data-hook='async') < back

h1.indented= data.name

dl.admin-props
    dt email
    dd= data.email

    dt created
    dd= moment(data.createdAz).format('d.M.YYYY HH:mm:ss')

    dt updated
    dd= moment(data.updatedAt).format('d.M.YYYY HH:mm:ss')

    if data.connections
        dt connections
        each connection in data.connections
            dd
                a(href="http://www.facebook.com/#{ connection.profile.id }" target="_blank")
                    img.profile-pic(src='http://graph.facebook.com/#{ connection.profile.id }/picture?type=square')
                    |  http://www.facebook.com/#{ connection.profile.id }


